body {
  align-items: center;

  padding-top: 20px;
  background-color: rgb(140, 140, 140);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  text-align: center;
  border-radius: 10px;
  height: 22px;
}

li {
  list-style: none;
}

.loadMore-button {
  margin: 0 auto;
  background-color: aquamarine;
  width: 154px;
  height: 26px;
  border-radius: 10px;
  display: block;
}

.hidden {
  display: none;
}
